* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
Data/LICENSE text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.pt binary
*.npy binary
*.npz binary
*.png binary
